.navbar{
    display: flex;
    padding: 10px;
    box-shadow: 0px 10px 5px rgb(209, 212, 213);

}

.form-control{
    margin-left: 15px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}

.notifications{
    display: flex;
    flex-direction: row;
    color: #858796
}
