.cardpage-body{
    margin: 2rem;
}

.container-fluid{
    margin: 1rem;
}

.container-fluid h1{
    color:#5a5c69 !important;
}

.info-cards .card{
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
}

.info-cards .card-header{
    background-color: #f8f9fc ;
    height : 40px;
    color : #4E73DF;
    padding : 8px 16px;
    font-weight: 600;
    display : flex;
    align-items: center;
    border-bottom: 1px solid #e3e6f0;
    border-radius: 0px;
}